<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.loginauthentication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginAuthentication"
        tools:targetApi="31">
        <activity
            android:name=".imageuplaoder"
            android:exported="false" />
        <activity
            android:name=".StudentPanel.StudentPanelNavigationBar"
            android:exported="false" />
        <activity
            android:name=".MerchantPanel.Merchant_post_dish"
            android:exported="false" />
        <activity
            android:name=".MerchantPanel.MerchantNavigationBar"
            android:exported="false" />
        <activity
            android:name=".AdminPanel"
            android:exported="false" />
        <activity
            android:name=".loadinganimation"
            android:exported="false" />
        <activity
            android:name=".StudentRegister"
            android:exported="false" />
        <activity
            android:name=".slides"
            android:exported="false" />
        <activity
            android:name=".merchantregister"
            android:exported="false" />
        <activity
            android:name=".merchantlogin"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/style" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>